.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

input {
  margin: 5px;
  text-align: center
}

li {
  margin: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1877F2;
  color: white;
  width: 100%;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  transform: scale(1.1, 1.1);
  text-decoration: underline;
}

.dimension {
  margin-bottom: 5px;
}

.speed-input {
  margin-top: 50px;
}